#navbar{
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  height: 40px;
}

#pageselection{
  position: absolute;
  width: 40%;
  height: 100%;
  right: 30%;
  background-color: gray;
}

.nav-button{
  float:left;
  width:33%;
  height: 100%;
  text-align: center;
  line-height:40px;
}
.nav-button a{
  display:block;
  height: 100%;
}
