{% include "base.html" %}
<style>
#container {
    height: 500px;
    width:1100px;
 
    
}
#container2 {
    height: 500px;
    width: 1100px;

}
#container3 {
    height: 500px;
    width: 1100px;

}
.loading {
    margin-top: 10em;
    text-align: center;
}
</style>
<script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>

<script>
$(function () {

var data = [
    ['in-5390',''], //
    ['in-py', 9],  // Puducherry
    ['in-ld', ''],  // Lakshadeep *
    ['in-an', ''],  // 
    ['in-wb', 14], // West Bengal
    ['in-or', 7],  // Orissa
    ['in-br', 7],  // Bihar
    ['in-sk', ''],  // Sikkim *
    ['in-ct', 16], // Chattisgarh
    ['in-tn', 13],  // Tamil Nadu
    ['in-mp', 16],  // Madhya Pradesh
    ['in-2984',21],  // Gujarat
    ['in-ga', 20],  // Goa
    ['in-nl', 3],  // Nagaland
    ['in-mn', ''],  // Manipur *
    ['in-ar', ''],  // Arunanachal Pradesh *
    ['in-mz', 3],   // Mizoram  
    ['in-tr', ''],  // Tripura *
    ['in-3464',10],  // Daman and Diu
    ['in-dl', 20],  // Delhi 
    ['in-hr', 20],  // Haryana
    ['in-ch', 3],   // Chandigarh
    ['in-hp', 4],   // Himachal Pradesh
    ['in-jk', 7],   // Jammu & Kashmir
    ['in-kl', 6],   // Kerala
    ['in-ka', 14],  // Karnataka
    ['in-dn', 10],  // Dadra & Nagar Haveli
    ['in-mh', 24], // Maharashtra
    ['in-as', 10], // Assam
    ['in-ap', 7],  // Andhra Pradesh
    ['in-ml', 3],   // Meghalaya
    ['in-pb', 16],  // Punjab
    ['in-rj', 10], // Rajasthan
    ['in-up', 17], // Uttar Pradesh
    ['in-ut', ''], //Uttaranchal
    ['in-jh', 33]  // Jharkhand
];


    // Initiate the chart
    $('#container').highcharts('Map', {

        title: {
            text: ' Annual average concentration of SO2 in states '
        },

        subtitle: {
            text: 'Source map: <a href="//code.highcharts.com/mapdata/countries/in/in-all.js">India</a>'
        },

tooltip: {

/*formatter: function() {
           
                if(this.series.name == 'Tokyo' && this.y == 26.5 ){
                  return false ;
                // to disable the tooltip at a point return false 
                }else {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ this.y +'°C';
            }   
            }
*/

            headerFormat: '',
            pointFormat: '<b>{point.name}</b><br>AQP(SO2): {point.value} ug/m3'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
            min: 0
        },
			colors : ['#00E400', '#FFFF00', '#FF7E00','#FF0000','rgb(143, 63, 151)',"BLACK"],
			colorAxis : {
				dataClassColor : 'category',
				dataClasses : [{
						from : 1,
                                                to:50,
            name: 'Good(0-50)'
					}, {
						from : 51,
						to : 100,
            name: 'Moderate(51-100)'
					}, {
						from : 101,
                                                 to :150,
            name: 'Unhealthy for Sensitive Groups(100-150)'
					},
{
						from : 151,
                                                 to : 200,
            name: 'Unhealthy(151-200)'
					},
{
						from : 201,
                                                 to :300,
            name: 'Very Unhealthy(201-300)'
					}
,{
		to:0,				
            name: '0 = UNDEFINED'
					}
				]
			},

        series: [{
            data: data,
 
            mapData: Highcharts.maps['countries/in/in-all'],
            joinBy: 'hc-key',
            //enableMouseTracking: false,
            name: 'pollution',
            states: {
                hover: {
                    color: '#2fb5bf'
                }
            },
            dataLabels: {
                enabled: true,
                format: '{point.options.name}'
            }
        }, {
    type: 'mappoint',
    name: 'Cities',
    color: "black",
dataLabels: {
      	enabled: true
      },
data: [/*{
    	
      name: 'Chennai',
      x: 3354,
      y: -828
    },*/ {
      name: 'Delhi',
      x: 2300,
      y: -7100,
      value: 7,
      AQ: 'L'
    }, {
      name: 'Patna',
      x: 5200,
      y: -6000,
      value: 10,
      AQ: 'L'
    },
{
      name: 'Gwalior',
      x: 2600,
      y: -5990,
      value: 17,
      AQ: 'L'
 
    },{
      name: 'Raipur',
      x: 3900,
      y: -4300,
      value: 21,
      AQ: 'L'
    },
{
      name: 'Ahmedabad',
      x: 600,
      y: -5000,
      value: 21,
      AQ: 'L'
    },
{
      name: 'Ferozabad',
      x: 2600,
      y: -6500,
      value: 23,
      AQ: 'M'
    },
{
      name: 'Amritsar',
      x: 1700,
      y: -8300,
      value: 20,
      AQ: 'L'
    },

{
      name: 'Kanpur',
      x: 3600,
      y: -6190,
      value: 10,
      AQ: 'L'
    },
{
      name: 'Agra',
      x: 2500,
      y: -6600,
      value: 7,
      AQ: 'L'
    }
,
{
      name: 'Ludhiana',
      x: 1660,
      y: -8100,
      value: 13,
      AQ: 'L'
    },
      
      
    ]
        }]
    });
});
</script>

<script>

$(function () {
var data = [
    ['in-5390',''], //
    ['in-py', 6],  // Puducherry
    ['in-ld', ''],  // Lakshadeep *
    ['in-an', ''],  // 
    ['in-wb', 62], // West Bengal
    ['in-or', 17],  // Orissa
    ['in-br', 25],  // Bihar
    ['in-sk', ''],  // Sikkim *
    ['in-ct', 21], // Chattisgarh
    ['in-tn', 19],  // Tamil Nadu
    ['in-mp', 16],  // Madhya Pradesh
    ['in-2984',22],  // Gujarat
    ['in-ga', 17],  // Goa
    ['in-nl', 6],  // Nagaland
    ['in-mn', ''],  // Manipur *
    ['in-ar', ''],  // Arunanachal Pradesh *
    ['in-mz', 6],   // Mizoram  
    ['in-tr', ''],  // Tripura *
    ['in-3464',17],  // Daman and Diu
    ['in-dl', 52],  // Delhi 
    ['in-hr', 22],  // Haryana
    ['in-ch', 15],   // Chandigarh
    ['in-hp', 14],   // Himachal Pradesh
    ['in-jk', 12],   // Jammu & Kashmir
    ['in-kl', 12],   // Kerala
    ['in-ka', 21],  // Karnataka
    ['in-dn', 17],  // Dadra & Nagar Haveli
    ['in-mh', 29], // Maharashtra
    ['in-as', 14], // Assam
    ['in-ap', 16],  // Andhra Pradesh
    ['in-ml', 9],   // Meghalaya
    ['in-pb', 25],  // Punjab
    ['in-rj', 27], // Rajasthan
    ['in-up', 28], // Uttar Pradesh
    ['in-ut', ''], //Uttaranchal
    ['in-jh', 37]  // Jharkhand
];


    // Initiate the chart
    $('#container2').highcharts('Map', {

        title: {
            text: ' Annual average concentration of NO2 in states '
        },

        subtitle: {
            text: 'Source map: <a href="//code.highcharts.com/mapdata/countries/in/in-all.js">India</a>'
        },

tooltip: {

            headerFormat: '',
            pointFormat: '<b>{point.name}</b><br>AQP(SO2): {point.value} ug/m3'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
            min: 0
        },
			colors : ['#00E400', '#FFFF00', '#FF7E00','#FF0000','rgb(143, 63, 151)','FFFFF'],
			colorAxis : {
				dataClassColor : 'category',
				dataClasses : [{
						from : 0,
                                                to:50,
            name: 'Good(0-50)'
					}, {
						from : 51,
						to : 100,
            name: 'Moderate(51-100)'
					}, {
						from : 101,
                                                 to :150,
            name: 'Unhealthy for Sensitive Groups(100-150)'
					},
{
						from : 151,
                                                 to : 200,
            name: 'Unhealthy(151-200)'
					},
{
						from : 201,
                                                 to :300,
            name: 'Very Unhealthy(201-300)'
					}
,{
		to:0,				
            name: '0 = UNDEFINED'
					}
				]
			},

        series: [{
            data: data,
 
            mapData: Highcharts.maps['countries/in/in-all'],
            joinBy: 'hc-key',
            //enableMouseTracking: false,
            name: 'pollution',
            states: {
                hover: {
                    color: '#2fb5bf'
                }
            },
            dataLabels: {
                enabled: true,
                format: '{point.options.name}'
            }
        }, {
    type: 'mappoint',
    name: 'Cities',
    color: "black",
dataLabels: {
      	enabled: true
      },
data: [/*{
    	
      name: 'Chennai',
      x: 3354,
      y: -828
    },*/ {
      name: 'Delhi',
      x: 2300,
      y: -7100,
      value: 52,
      AQ: 'H'
    }, {
      name: 'Patna',
      x: 5200,
      y: -6000,
      value: 38,
      AQ: 'M'
    },
{
      name: 'Gwalior',
      x: 2600,
      y: -5990,
      value: 19,
      AQ: 'L'
 
    },{
      name: 'Raipur',
      x: 3900,
      y: -4300,
      value: 41,
      AQ: ''
    },
{
      name: 'Ahmedabad',
      x: 600,
      y: -5000,
      value: 19,
      AQ: 'M'
    },
{
      name: 'Ferozabad',
      x: 2600,
      y: -6500,
      value: 31,
      AQ: 'H'
    },
{
      name: 'Amritsar',
      x: 1700,
      y: -8300,
      value: 34,
      AQ: 'M'
    },

{
      name: 'Kanpur',
      x: 3600,
      y: -6190,
      value: 32,
      AQ: 'M'
    },
{
      name: 'Agra',
      x: 2500,
      y: -6600,
      value: 19,
      AQ: 'M'
    }
,
{
      name: 'Ludhiana',
      x: 1660,
      y: -8100,
      value: 30,
      AQ: 'M'
    },
      
      
    ]
        }]
    });
});
</script>

<script>

$(function () {
var data = [
    ['in-5390',''], //
    ['in-py', 35],  // Puducherry
    ['in-ld', ''],  // Lakshadeep *
    ['in-an', ''],  // 
    ['in-wb', 78], // West Bengal
    ['in-or', 66],  // Orissa
    ['in-br', 82],  // Bihar
    ['in-sk', ''],  // Sikkim *
    ['in-ct', 77], // Chattisgarh
    ['in-tn', 58],  // Tamil Nadu
    ['in-mp', 92],  // Madhya Pradesh
    ['in-2984',68],  // Gujarat
    ['in-ga', 57],  // Goa
    ['in-nl', 57],  // Nagaland
    ['in-mn', ''],  // Manipur *
    ['in-ar', ''],  // Arunanachal Pradesh *
    ['in-mz', 39],   // Mizoram  
    ['in-tr', ''],  // Tripura *
    ['in-3464',32],  // Daman and Diu
    ['in-dl', 154],  // Delhi 
    ['in-hr', 171],  // Haryana
    ['in-ch', 69],   // Chandigarh
    ['in-hp', 67],   // Himachal Pradesh
    ['in-jk', 76],   // Jammu & Kashmir
    ['in-kl', 39],   // Kerala
    ['in-ka', 58],  // Karnataka
    ['in-dn', 36],  // Dadra & Nagar Haveli
    ['in-mh', 74], // Maharashtra
    ['in-as', 61], // Assam
    ['in-ap', 60],  // Andhra Pradesh
    ['in-ml', 74],   // Meghalaya
    ['in-pb', 117],  // Punjab
    ['in-rj', 107], // Rajasthan
    ['in-up', 114], // Uttar Pradesh
    ['in-ut', 108], //Uttaranchal
    ['in-jh', 120]  // Jharkhand
];


    // Initiate the chart
    $('#container3').highcharts('Map', {

        title: {
            text: ' Annual average concentration of PM10 in states '
        },

        subtitle: {
            text: 'Source map: <a href="//code.highcharts.com/mapdata/countries/in/in-all.js">India</a>'
        },

tooltip: {
            headerFormat: '',
            pointFormat: '<b>{point.name}</b><br>AQP(SO2): {point.value} ug/m3'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
            min: 0
        },
			colors : ['#00E400', '#FFFF00', '#FF7E00','#FF0000','rgb(143, 63, 151)','FFFFF'],
			colorAxis : {
				dataClassColor : 'category',
				dataClasses : [{
						from : 0,
                                                to:50,
            name: 'Good(0-50)'
					}, {
						from : 51,
						to : 100,
            name: 'Moderate(51-100)'
					}, {
						from : 101,
                                                 to :150,
            name: 'Unhealthy for Sensitive Groups(100-150)'
					},
{
						from : 151,
                                                 to : 200,
            name: 'Unhealthy(151-200)'
					},
{
						from : 201,
                                                 to :300,
            name: 'Very Unhealthy(201-300)'
					}
,{
		to:0,				
            name: '0 = UNDEFINED'
					}
				]
			},

        series: [{
            data: data,
 
            mapData: Highcharts.maps['countries/in/in-all'],
            joinBy: 'hc-key',
            //enableMouseTracking: false,
            name: 'pollution',
            states: {
                hover: {
                    color: '#2fb5bf'
                }
            },
            dataLabels: {
                enabled: true,
                format: '{point.options.name}'
            }
        }, {
    type: 'mappoint',
    name: 'Cities',
    color: "black",
dataLabels: {
      	enabled: true
      },
data: [/*{
    	
      name: 'Chennai',
      x: 3354,
      y: -828
    },*/ {
      name: 'Delhi',
      x: 2300,
      y: -7100,
      value: 154,
      AQ: 'C'
    }, {
      name: 'Patna',
      x: 5200,
      y: -6000,
      value: 114,
      AQ: 'C'
    },
{
      name: 'Gwalior',
      x: 2600,
      y: -5990,
      value: 177,
      AQ: 'C'
 
    },{
      name: 'Raipur',
      x: 3900,
      y: -4300,
      value: 168,
      AQ: 'C'
    },
{
      name: 'Ahmedabad',
      x: 600,
      y: -5000,
      value: 71,
      AQ: 'C'
    },
{
      name: 'Ferozabad',
      x: 2600,
      y: -6500,
      value: 130,
      AQ: 'C'
    },
{
      name: 'Amritsar',
      x: 1700,
      y: -8300,
      value: 133,
      AQ: 'C'
    },

{
      name: 'Kanpur',
      x: 3600,
      y: -6190,
      value: 125,
      AQ: 'C'
    },
{
      name: 'Agra',
      x: 2500,
      y: -6600,
      value: 116,
      AQ: 'C'
    }
,
{
      name: 'Ludhiana',
      x: 1660,
      y: -8100,
      value: 130,
      AQ: 'C'
    },
      
      
    ]
        }]
    });
});
</script>

<html>
<body>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//code.highcharts.com/maps/highmaps.js"></script>
<script src="//code.highcharts.com/maps/modules/exporting.js"></script>
<script src="//code.highcharts.com/mapdata/countries/in/in-all.js"></script>
<div class="w3-container"  style="width:1180px;margin-top:20px">
  
  <div class="w3-card-4">

    <div class="w3-container" style="height:500px;">
    <div id="container"></div>
    </div>
    

  </div>
</div> 

<div class="w3-container"  style="width:1180px;margin-top:20px">
  
  <div class="w3-card-4">

    <div class="w3-container" style="height:500px;">
    <div id="container2"></div>
    </div>
    

  </div>
</div> 

<div class="w3-container"  style="width:1180px;margin-top:20px">
  
  <div class="w3-card-4">

    <div class="w3-container" style="height:500px;">
    <div id="container3"></div>
    </div>
    

  </div>
</div> 


</body>
</html>

