<style>
.parent {
  display: inline-block; 
  width: 100%;

}
.left {
  float: left;
}
.right {
  float: left;
  
}


.filterable {
    margin-left:30px;
    margin-top: 0px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}


</style>

      <!-- Latest compiled and minified CSS
  -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">


	<!-- Optional theme
 -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar-static-top/navbar-static-top.css" rel="stylesheet">
<script>

function get(clicked_id)
{   var URL = "/real_time";
    var data = {'rowd':clicked_id}
    
    $.post(URL, data, function(response){
        $('body').html(response);

    });
    
}


</script>

<html lang="en">
{% include "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="parent" width="50px">  
<div class=" left ">
<img src="{% static "media/map_delhi.jpg" %}" />
<div id="mm" onclick='get(this.id);' style="position:absolute;cursor:pointer;z-index:2;height:20;width:20;left: 295; top:370;"><img src="{% static "media/active.gif" %}" /></div>
<div id="civilLines" onclick='get(this.id);' style="position:absolute;cursor:pointer;z-index:2;height:20;width:20;left: 329; top:300;"><img src="{% static "media/active.gif" %}" /></div>
<div id="rkPuram" onclick='get(this.id);' style="position:absolute;cursor:pointer;z-index:2;height:20;width:20;left: 265; top:480;"><img src="{% static "media/active.gif"%}" />
</div>
<div id="pb" onclick='get(this.id);' style="position:absolute;cursor:pointer;z-index:2;height:20;width:20;left: 175; top:315;"><img src="{% static "media/active.gif" %}" /></div>
<div id="av" onclick='get(this.id);' style="position:absolute;cursor:pointer;z-index:2;height:20;width:20;left: 465; top:355;"><img src="{% static "media/active.gif" %}" /></div>
<div id="airpo" onclick='get(this.id);' style="position:absolute;cursor:pointer;z-index:2;height:20;width:20;left: 155; top:497;"><img src="{% static "media/active.gif"%}" /></div>
<div id="dw" onclick='get(this.id);' style="position:absolute;cursor:pointer;z-index:2;height:20;width:20;left: 80; top:445;"><img src="{% static "media/active.gif"%}" /></div>

</div>
  <div class="right ">

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Air Quality  {{ StationName }}</h3>
                <div class="pull-right">

                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        
                        <th><input type="text" class="form-control" placeholder="Parameters" disabled></th>
                        <th><input type="text" class="form-control" placeholder="concentration" disabled></th>
                        
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td style="font-weight:bold">Ammonia</td>
                        <td>{{ Ammonia }} µg/m³ </td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Carbon Monoxide</td>
                        <td>{{ Carbon_Monoxide }} µg/m³</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Nitrogen Oxide</td>
                        <td>{{ Nitrogen_Oxide }} µg/m³</td>
                        
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Ozone</td>
                        <td>{{ Ozone }} µg/m³</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Sulphur Dioxide</td>
                        <td>{{ Sulphur_Dioxide }} µg/m³</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Ambient Temperature</td>
                        <td>{{ Ambient_Temperature }} ºC</td>
                        
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Particulate Matter 10</td>
                        <td>{{ Particulate_Matter_10 }} µg/m³</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Benzene</td>
                        <td>{{ Benzene }} µg/m³</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Nitrogen Dioxide</td>
                        <td>{{ Nitrogen_Dioxide }} µg/m³</td>
                        
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Oxides of Nitrogen</td>
                        <td>{{ Oxides_of_Nitrogen }} ppb</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">p-Xylene</td>
                        <td>{{ p_Xylene }} µg/m³</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Toluene</td>
                        <td>{{ Toluene }} µg/m³</td>
                        
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Barometric Pressure</td>
                        <td>{{ Barometric_Pressure }} hPa</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Particulate Matter 2</td>
                        <td>{{ Particulate_Matter_2 }} µg/m³</td>
                       
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Solar Radiation</td>
                        <td>{{ Solar_Radiation }} W/m²</td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>


{% endblock %}
